@media screen and (max-width: 750px) {
  html, body {
    width: 100%;
  }

  .uncentered {
    margin-left: auto;
  }

  .norm {
    display: none;
  }

  .mobi {
    display: block;
  }

  .left {
    display: none;
  }

/*----- NAV ------------------------------------------------------------------*/
.homelogo {
  width: 150px;
}

nav ul li {
  margin: 4px;
}

nav ul li a {
  margin: 0;
}


/*----- CHARACTERS PAGE ------------------------------------------------------*/
  #character_name {
    margin-bottom: 10px;
    margin-top: 30px;
  }

  #attacks_box {
    order: 2;
    max-width: 100%;
    width: 100%;
  }

  #attributes_box {
    order: 1;
    max-width: 100%;
    width: 100%;
  }

/*----- VS PAGE --------------------------------------------------------------*/
  .vs_pic {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}
