/*----- ROOT ELEMENTS --------------------------------------------------------*/

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
  height: 100%;
}

/*----- MOBILE TOGGLE --------------------------------------------------------*/

.mobi {
  display: none;
}

/*----- NAVIGATION -----------------------------------------------------------*/

nav {
  background-color: black;
  /* border: 1px solid black; */
}

.nav_wrapper {
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  font-weight: bolder;
  color: white;

  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

/*----- PAGE -----------------------------------------------------------------*/
.flex {
  display: flex;
}

.page {
  width: 95%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -300px;
  border: 1px solid black;
}

.left {
  /*--- shape ---*/
  min-width: 200px;
  max-width: 300px;
  height: auto;

  /*--- space ---*/
  margin-right: 10px;

  /*--- color ---*/
  
  background-color: #666666;
  /* border: 1px solid black; */
}

.right {
  flex-grow: 5;
  height: auto;
  /* background-color: #666666; */
  border: 1px solid black;
} 


/*----- SHARED ---------------------------------------------------------------*/
#char_pic {
  min-width: 200px; /* temporary*/
  min-height: 200px;
  max-width: 100%;
  display: block;

  margin: 0 auto;
  border: 1px solid black;
}

.flex_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*----- MEET THE CHARACTERS --------------------------------------------------*/

.character_box {
  height: 100%;
  border: 1px solid black;
}

#character_name {
  text-align: center;
  margin-top: 10px;
}

#attack_title {
  text-align: center;
}

#attribute_title {
  text-align-last: center;
}

#attributes_box {
  flex-grow: 1;
  max-width: 450px;
  margin: 10px;

  border-radius: 3px;
  background-color: #666666;
  /* border: 1px solid black; */
}

#attacks_box {
  flex-grow: 1;
  max-width: 450px;
  margin: 10px;

  border-radius: 3px;
  background-color: #666666;
  /* border: 1px solid black; */
}

#attack_table {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;  
}

#attribute_table {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

th {
 font-size: 20pt;
 font-weight: bolder;
}

/* Character Listing */
.char_option {
  text-align: center;
}

button { 
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 16pt;
  text-transform: uppercase;

  border: none;
  background-color: Transparent;
  width: 100%;
}

button:focus {
  outline: none;
}

.char_option:hover {
  background-color: black;
}
.char_option button:hover {
  color: white;
}

/*----- VERSUS CALCULATOR ----------------------------------------------------*/
form {
  border: 1px solid black;
  text-align: center;
}

.vs_pic {
  max-height: 400px;
}

.choice {
  flex-grow: 1;
  text-align: center;
}

#battleResult {
  text-align: center;
}

/*----- FOOTER ---------------------------------------------------------------*/
.push {
  height: 300px;
}

footer {
  /*
  display:none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  */

  background-color: black;

  display: block;
  -ms-align-self: baseline;
  align-self: baseline;

  align-items: baseline;
  border: 1px solid black;
}

footer ul {
  display: inline-block;
  list-style: none;

  -ms-align-self: baseline;
  align-self: baseline;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 16pt;

  display: inline-block;
  padding: 10px;
  margin: 10px;
  /* border: 1px solid black; */
}
