/*----- ROOT ELEMENTS --------------------------------------------------------*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
  height: 100%;
}

/*----- MOBILE TOGGLE --------------------------------------------------------*/

.mobi {
  display: none;
}

/*----- NAVIGATION -----------------------------------------------------------*/

nav {
  border: 1px solid black;
}

.nav_wrapper {
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

/*----- PAGE -----------------------------------------------------------------*/
.flex {
  display: flex;
}

.page {
  width: 95%;
  height: 100%;
  margin: auto;
  border: 1px solid black;
}

.left {
  /*--- shape ---*/
  min-width: 200px;
  max-width: 300px;
  height: 100%;

  /*--- space ---*/
  margin-right: 10px;

  /*--- color ---*/
  border: 1px solid black;
}

.right {
  flex-grow: 5;
  height: 100%;
  border: 1px solid black;
}


/*----- SHARED ---------------------------------------------------------------*/
.char_pic {
  min-width: 200px; /* temporary*/
  min-height: 200px;
  display: block;

  margin: 0 auto;
  border: 1px solid black;
}

.flex_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*----- MEET THE CHARACTERS --------------------------------------------------*/
.character_box {
  border: 1px solid black;
}

#character_name {
  text-align: center;
  margin-top: 10px;
}

#attack_title {
  text-align: center;
}

#attribute_title {
  text-align-last: center;
}

.attributes_box {
  flex-grow: 1;
  max-width: 390px;
  margin: 10px;
  border: 1px solid black;
}

.attacks_box {
  flex-grow: 1;
  max-width: 390px;
  margin: 10px;
  border: 1px solid black;
}

/*----- VERSUS CALCULATOR ----------------------------------------------------*/
form {
  border: 1px solid black;
  text-align: center;
}

.vs_pic {
  max-height: 400px;
}

.choice {
  flex-grow: 1;
  text-align: center;
}


/*----- FOOTER ---------------------------------------------------------------*/
footer {
  display: block;

  -ms-align-self: baseline;
  align-self: baseline;

  align-items: baseline;
  border: 1px solid black;
}

footer ul {
  display: inline-block;
  list-style: none;

  -ms-align-self: baseline;
  align-self: baseline;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}
